# User Testing Report

User testing was conducted by Steven Donegani on October, 22, 2013 between the times of 3:00pm and 6:00pm with the following participants:

- Cassie Slack
- Kelly Seay
- Ashley Edmundson

## Tasks

1. Navigate, click around, get a feel for it
2. Change size for mobile
3. Click on the only working link

---

## Individual Results & Observations

### Cassie Slack

- She found it simple to navigate
- She easily changed size and noted that certain content shouldn't be in a certain order.
- The link worked.
- The sidebar made it hard to focus on important content.

### Kelly Seay

- She clicked around, found the working link.
- She found it changed size nicely.
- {He asked these questions…}
- Made note of the simplicity of visual style.

### Ashley Edmunson

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.