<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1" />
<title>All About Allergies - Home</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- Facebook -->
  <meta property="og:type" content="article"  />
  <meta property="og:title" content="All About Allergies - Home"  />
  <meta property="og:url" content="http://stevendonegani.github.io/large-data-website/"  />
  <!-- Image size: minimum 200x200 recommended 1500x1500 -->
  <meta property="og:image" content="http://stevendonegani.github.io/large-data-website/"  />
  <meta property="og:description" content="Your go to for Allergy information"  />
  <meta property="og:site_name" content="What is an allergy?"  />

    <!-- Twitter -->
  <meta property="twitter:card" content="summary"  />
  <meta property="twitter:title" content="All About Allergies - Home"  />
  <meta property="twitter:url" content="http://stevendonegani.github.io/large-data-website/"  />
  <!-- Image size: minimum 120x120 recommended 1500x1500 -->
  <meta property="twitter:image" content="http://stevendonegani.github.io/large-data-website/"  />
  <meta property="twitter:description" content="Your go to for Allergy information"  />

</head>

<body>

<!-- Div Wrapper Element Starts Here -->
<div id="Wrapper">
<!-- Header Element Starts Here -->
<header id="header">
  <!-- Hgroup Element Starts Here -->
  <hgroup id="title">
    <div id="logo"></div>
    <!--<h1>Creating HTML5 <span>Responsive Web Template Using Media Queries</span></h1>-->
    <h2>Your go to for<small> Allergy</small> information!</h2>
  </hgroup>
  <!-- Hgroup Element Ends Here -->

  <!-- Nav Element Starts Here -->
  <nav class="navigation">
    <a href="index.html">HOME</a>
        <a href="#?cat=5">TYPES OF ALLERGIES</a>
        <a href="symptoms.html">SYMPTOMS</a>
        <a href="#?cat=11">PREVENTION & SAFETY</a>
      <a href="#?page_id=5">CONTACT US</a>
      </nav>

</header>
<!-- Header Element Ends Here -->
<!-- Div wrapper2 starts here -->
<div id="Wrapper2">
<!-- Sidebar Element Starts Here -->
<aside id="sidebar-wrapper">
  <nav class="sidebar">
   <h1>We are Social !</h1>
   <ul>
    <li><a href="#" target="_blank">Facebook</a>
    <li><a href="#" target="_blank">Twitter</a>
   </ul>
  </nav>
  <nav class="sidebar">
   <h1>Recent Posts</h1>
   <ul>
   <li><a href="cross-contamination.html" >How to prevent cross-contamination</a></li>
   </ul>
  </nav>

 <!-- Sidebar Element Ends Here -->

 <!-- Another Sidebar Element Starts Here -->
 <section class="sidebar">
  <h1>Contact Us</h1>

    <p>Allergy Info:<br><br>
  123 fake street<br>
  FK, Fakternia<br>
  123 FKE

  </p>


  </section>
 </aside>
 <!-- Another Sidebar Element Ends Here -->



 {{content}}



 <!-- Footer Element Starts Here -->
<footer id="copyrights">

 <p><small>© 2013 Steven Donegani</a></small></p>
  <p><a href="" target="_blank">About Us</a> - <a href="" target="_blank">Contact Us</a></p>
  <address>
  Go back to <a href="#?p=787">Home</a>
 </address>
</footer>
<!-- Footer Element Ends Here -->
</div>
<!-- Div Wrapper Element ends Here -->

</body>
</html>
